.link{
     text-decoration: none;
     color: white;
}
.ev-links{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 4rem;
     gap: 5rem;
     overflow: hidden;
}
.image{
     position: relative;
     width: 400px;
     height: 400px;
     overflow: hidden;
     h2{
          color: black;
          position: absolute;
          top: 10px;
          left: 20px;
          background-color: rgba(209, 203, 203, 0.59);
          padding:0.5rem;
          border-radius: 5px;
     }
     img{
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          border-radius: 0.5rem;
     }
     img:hover{
          transform: scale(1.2);
     }
}